UIElementsSchema/Unity.UIToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.UIToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.UIToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEngine.xsd" namespace="UnityEngine" />
  <xs:complexType name="TextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q1:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignStyleEnumField" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:TextAlignStyleEnumFieldType" />
  <xs:complexType name="StyleBackgroundFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q3:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundField" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:BindableElement" type="tns:StyleBackgroundFieldType" />
  <xs:complexType name="StylePercentSliderFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q5:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StylePercentSliderField" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:BindableElement" type="tns:StylePercentSliderFieldType" />
  <xs:complexType name="PositionAnchorsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionAnchors" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:PositionAnchorsType" />
  <xs:complexType name="DisplayStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q9:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flex" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayStyleEnumField" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:BindableElement" type="tns:DisplayStyleEnumFieldType" />
  <xs:complexType name="BorderWidthFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute default="true" name="value" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideRowType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideRow" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:OverrideRowType" />
  <xs:element name="OverrideFoldout" substitutionGroup="tns:OverrideRow" type="tns:OverrideFoldoutType" />
  <xs:element name="BorderWidthFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderWidthFoldoutType" />
  <xs:complexType name="TextAutoSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAutoSizeStyleField" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:BindableElement" type="tns:TextAutoSizeStyleFieldType" />
  <xs:complexType name="BackgroundPositionStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="UnityEngine.UIElements" base="q15:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="Horizontal" name="mode" type="q15:AxisType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundPositionStyleField" xmlns:q16="UnityEngine.UIElements" substitutionGroup="q16:BindableElement" type="tns:BackgroundPositionStyleFieldType" />
  <xs:complexType name="SliceTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="UnityEngine.UIElements" base="q17:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q17:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sliced" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SliceTypeStyleEnumField" xmlns:q18="UnityEngine.UIElements" substitutionGroup="q18:BindableElement" type="tns:SliceTypeStyleEnumFieldType" />
  <xs:complexType name="VisualElementHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="element-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UISelectionObjectHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="UnityEngine.UIElements" base="q19:VisualElementType">
        <xs:choice />
        <xs:attribute name="type-icon" type="xs:string" />
        <xs:attribute name="type-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UISelectionObjectHeader" xmlns:q20="UnityEngine.UIElements" substitutionGroup="q20:VisualElement" type="tns:UISelectionObjectHeaderType" />
  <xs:element name="VisualElementHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualElementHeaderType" />
  <xs:complexType name="StyleIntFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="UnityEngine.UIElements" base="q21:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q21:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleIntField" xmlns:q22="UnityEngine.UIElements" substitutionGroup="q22:BindableElement" type="tns:StyleIntFieldType" />
  <xs:complexType name="TextOverflowPositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="UnityEngine.UIElements" base="q23:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q23:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="end" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowPositionStyleEnumField" xmlns:q24="UnityEngine.UIElements" substitutionGroup="q24:BindableElement" type="tns:TextOverflowPositionStyleEnumFieldType" />
  <xs:complexType name="StyleBackgroundSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="UnityEngine.UIElements" base="q25:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q25:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundSizeField" xmlns:q26="UnityEngine.UIElements" substitutionGroup="q26:BindableElement" type="tns:StyleBackgroundSizeFieldType" />
  <xs:complexType name="StyleFontFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="UnityEngine.UIElements" base="q27:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q27:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontField" xmlns:q28="UnityEngine.UIElements" substitutionGroup="q28:BindableElement" type="tns:StyleFontFieldType" />
  <xs:complexType name="BorderBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:BorderBoxModelFieldType" />
  <xs:complexType name="TextAlignToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="UnityEngine.UIElements" base="q29:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="UpperLeft" name="value" xmlns:q30="UnityEngine" type="q30:TextAnchorType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignToggleField" xmlns:q31="UnityEngine.UIElements" substitutionGroup="q31:BindableElement" type="tns:TextAlignToggleFieldType" />
  <xs:complexType name="StyleTextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="UnityEngine.UIElements" base="q32:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q32:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextShadowField" xmlns:q33="UnityEngine.UIElements" substitutionGroup="q33:BindableElement" type="tns:StyleTextShadowFieldType" />
  <xs:complexType name="StyleBackgroundPositionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="UnityEngine.UIElements" base="q34:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q34:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundPositionField" xmlns:q35="UnityEngine.UIElements" substitutionGroup="q35:BindableElement" type="tns:StyleBackgroundPositionFieldType" />
  <xs:complexType name="FontStyleToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="UnityEngine.UIElements" base="q36:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="Normal" name="value" xmlns:q37="UnityEngine" type="q37:FontStyleType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleToggleField" xmlns:q38="UnityEngine.UIElements" substitutionGroup="q38:BindableElement" type="tns:FontStyleToggleFieldType" />
  <xs:complexType name="BackgroundRepeatStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="UnityEngine.UIElements" base="q39:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundRepeatStyleField" xmlns:q40="UnityEngine.UIElements" substitutionGroup="q40:BindableElement" type="tns:BackgroundRepeatStyleFieldType" />
  <xs:complexType name="PositionFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="UnityEngine.UIElements" base="q41:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionFoldout" xmlns:q42="UnityEngine.UIElements" substitutionGroup="q42:VisualElement" type="tns:PositionFoldoutType" />
  <xs:complexType name="TextGeneratorTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="UnityEngine.UIElements" base="q43:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q43:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="standard" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextGeneratorTypeStyleEnumField" xmlns:q44="UnityEngine.UIElements" substitutionGroup="q44:BindableElement" type="tns:TextGeneratorTypeStyleEnumFieldType" />
  <xs:complexType name="FlexDirectionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="UnityEngine.UIElements" base="q45:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q45:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="column" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlexDirectionStyleEnumField" xmlns:q46="UnityEngine.UIElements" substitutionGroup="q46:BindableElement" type="tns:FlexDirectionStyleEnumFieldType" />
  <xs:complexType name="StyleRatioFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="UnityEngine.UIElements" base="q47:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q47:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRatioField" xmlns:q48="UnityEngine.UIElements" substitutionGroup="q48:BindableElement" type="tns:StyleRatioFieldType" />
  <xs:complexType name="StyleRotateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="UnityEngine.UIElements" base="q49:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q49:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRotateField" xmlns:q50="UnityEngine.UIElements" substitutionGroup="q50:BindableElement" type="tns:StyleRotateFieldType" />
  <xs:complexType name="StylePropertyBindingType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element xmlns:q51="UnityEngine.UIElements" ref="q51:VisualElement" />
    </xs:choice>
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute default="OnSourceChanged" name="update-trigger" xmlns:q52="UnityEngine.UIElements" type="q52:BindingUpdateTriggerType" />
    <xs:attribute name="style-property" type="xs:string" />
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:element name="StylePropertyBinding" type="tns:StylePropertyBindingType" />
  <xs:complexType name="TextOverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q53="UnityEngine.UIElements" base="q53:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q53:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="clip" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowStyleEnumField" xmlns:q54="UnityEngine.UIElements" substitutionGroup="q54:BindableElement" type="tns:TextOverflowStyleEnumFieldType" />
  <xs:complexType name="StyleLengthFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q55="UnityEngine.UIElements" base="q55:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q55:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute default="true" name="show-unit-as-dropdown" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleLengthField" xmlns:q56="UnityEngine.UIElements" substitutionGroup="q56:BindableElement" type="tns:StyleLengthFieldType" />
  <xs:complexType name="StyleFloatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q57="UnityEngine.UIElements" base="q57:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q57:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFloatField" xmlns:q58="UnityEngine.UIElements" substitutionGroup="q58:BindableElement" type="tns:StyleFloatFieldType" />
  <xs:complexType name="VisualElementAttributesInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q59="UnityEngine.UIElements" base="q59:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementAttributesInspectorElement" xmlns:q60="UnityEngine.UIElements" substitutionGroup="q60:VisualElement" type="tns:VisualElementAttributesInspectorElementType" />
  <xs:complexType name="WhiteSpaceStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="UnityEngine.UIElements" base="q61:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q61:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WhiteSpaceStyleEnumField" xmlns:q62="UnityEngine.UIElements" substitutionGroup="q62:BindableElement" type="tns:WhiteSpaceStyleEnumFieldType" />
  <xs:complexType name="StyleInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q63="UnityEngine.UIElements" base="q63:VisualElementType">
        <xs:choice />
        <xs:attribute name="content-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleInspectorElement" xmlns:q64="UnityEngine.UIElements" substitutionGroup="q64:VisualElement" type="tns:StyleInspectorElementType" />
  <xs:complexType name="BorderRadiusFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderRadiusFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderRadiusFoldoutType" />
  <xs:complexType name="FilterStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q65="UnityEngine.UIElements" base="q65:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterStyleField" xmlns:q66="UnityEngine.UIElements" substitutionGroup="q66:BindableElement" type="tns:FilterStyleFieldType" />
  <xs:complexType name="StyleScaleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q67="UnityEngine.UIElements" base="q67:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q67:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleScaleField" xmlns:q68="UnityEngine.UIElements" substitutionGroup="q68:BindableElement" type="tns:StyleScaleFieldType" />
  <xs:complexType name="StyleBackgroundRepeatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="UnityEngine.UIElements" base="q69:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q69:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundRepeatField" xmlns:q70="UnityEngine.UIElements" substitutionGroup="q70:BindableElement" type="tns:StyleBackgroundRepeatFieldType" />
  <xs:complexType name="StyleMaterialDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q71="UnityEngine.UIElements" base="q71:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q71:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleMaterialDefinitionField" xmlns:q72="UnityEngine.UIElements" substitutionGroup="q72:BindableElement" type="tns:StyleMaterialDefinitionFieldType" />
  <xs:complexType name="VisualElementInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="UnityEngine.UIElements" base="q73:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementInspector" xmlns:q74="UnityEngine.UIElements" substitutionGroup="q74:VisualElement" type="tns:VisualElementInspectorType" />
  <xs:complexType name="StyleCursorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q75="UnityEngine.UIElements" base="q75:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q75:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default=" 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleCursorField" xmlns:q76="UnityEngine.UIElements" substitutionGroup="q76:BindableElement" type="tns:StyleCursorFieldType" />
  <xs:complexType name="UnityTextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q77="UnityEngine.UIElements" base="q77:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q77:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnityTextAlignStyleEnumField" xmlns:q78="UnityEngine.UIElements" substitutionGroup="q78:BindableElement" type="tns:UnityTextAlignStyleEnumFieldType" />
  <xs:complexType name="WrapStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q79="UnityEngine.UIElements" base="q79:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q79:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="nowrap" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WrapStyleEnumField" xmlns:q80="UnityEngine.UIElements" substitutionGroup="q80:BindableElement" type="tns:WrapStyleEnumFieldType" />
  <xs:complexType name="FontStyleStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q81="UnityEngine.UIElements" base="q81:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q81:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleStyleEnumField" xmlns:q82="UnityEngine.UIElements" substitutionGroup="q82:BindableElement" type="tns:FontStyleStyleEnumFieldType" />
  <xs:complexType name="LengthFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LengthFoldoutField" substitutionGroup="tns:OverrideFoldout" type="tns:LengthFoldoutFieldType" />
  <xs:complexType name="VisualTreeAssetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q83="UnityEngine.UIElements" base="q83:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetInspector" xmlns:q84="UnityEngine.UIElements" substitutionGroup="q84:VisualElement" type="tns:VisualTreeAssetInspectorType" />
  <xs:complexType name="OpenInBuilderElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q85="UnityEngine.UIElements" base="q85:VisualElementType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenInBuilderElement" xmlns:q86="UnityEngine.UIElements" substitutionGroup="q86:VisualElement" type="tns:OpenInBuilderElementType" />
  <xs:complexType name="StyleFontDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q87="UnityEngine.UIElements" base="q87:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q87:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontDefinitionField" xmlns:q88="UnityEngine.UIElements" substitutionGroup="q88:BindableElement" type="tns:StyleFontDefinitionFieldType" />
  <xs:complexType name="StyleColorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q89="UnityEngine.UIElements" base="q89:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q89:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleColorField" xmlns:q90="UnityEngine.UIElements" substitutionGroup="q90:BindableElement" type="tns:StyleColorFieldType" />
  <xs:complexType name="StyleTransformOriginFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q91="UnityEngine.UIElements" base="q91:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q91:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="top left" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransformOriginField" xmlns:q92="UnityEngine.UIElements" substitutionGroup="q92:BindableElement" type="tns:StyleTransformOriginFieldType" />
  <xs:complexType name="UxmlAttributeFieldDecoratorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q93="UnityEngine.UIElements" base="q93:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeFieldDecorator" xmlns:q94="UnityEngine.UIElements" substitutionGroup="q94:VisualElement" type="tns:UxmlAttributeFieldDecoratorType" />
  <xs:complexType name="StyleTranslateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q95="UnityEngine.UIElements" base="q95:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q95:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTranslateField" xmlns:q96="UnityEngine.UIElements" substitutionGroup="q96:BindableElement" type="tns:StyleTranslateFieldType" />
  <xs:complexType name="MarginFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarginFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:MarginFoldoutFieldType" />
  <xs:complexType name="StyleTransitionListViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q97="UnityEngine.UIElements" base="q97:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransitionListView" xmlns:q98="UnityEngine.UIElements" substitutionGroup="q98:VisualElement" type="tns:StyleTransitionListViewType" />
  <xs:complexType name="BorderColorFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderColorFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderColorFoldoutType" />
  <xs:complexType name="EditorTextRenderingModeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q99="UnityEngine.UIElements" base="q99:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q99:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sdf" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTextRenderingModeStyleEnumField" xmlns:q100="UnityEngine.UIElements" substitutionGroup="q100:BindableElement" type="tns:EditorTextRenderingModeStyleEnumFieldType" />
  <xs:complexType name="JustifyStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="UnityEngine.UIElements" base="q101:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q101:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flexstart" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JustifyStyleEnumField" xmlns:q102="UnityEngine.UIElements" substitutionGroup="q102:BindableElement" type="tns:JustifyStyleEnumFieldType" />
  <xs:complexType name="PercentSliderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q103="UnityEngine.UIElements" base="q103:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PercentSlider" xmlns:q104="UnityEngine.UIElements" substitutionGroup="q104:BindableElement" type="tns:PercentSliderType" />
  <xs:complexType name="VisualTreeAssetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualTreeAssetHeaderType" />
  <xs:complexType name="OverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q105="UnityEngine.UIElements" base="q105:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q105:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverflowStyleEnumField" xmlns:q106="UnityEngine.UIElements" substitutionGroup="q106:BindableElement" type="tns:OverflowStyleEnumFieldType" />
  <xs:complexType name="TextShadowOffsetFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q107="UnityEngine.UIElements" base="q107:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0,0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowOffsetField" xmlns:q108="UnityEngine.UIElements" substitutionGroup="q108:BindableElement" type="tns:TextShadowOffsetFieldType" />
  <xs:complexType name="PositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q109="UnityEngine.UIElements" base="q109:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q109:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="relative" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionStyleEnumField" xmlns:q110="UnityEngine.UIElements" substitutionGroup="q110:BindableElement" type="tns:PositionStyleEnumFieldType" />
  <xs:complexType name="StyleTextAutoSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q111="UnityEngine.UIElements" base="q111:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q111:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextAutoSizeField" xmlns:q112="UnityEngine.UIElements" substitutionGroup="q112:BindableElement" type="tns:StyleTextAutoSizeFieldType" />
  <xs:complexType name="FieldAffordanceElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q113="UnityEngine.UIElements" base="q113:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldAffordanceElement" xmlns:q114="UnityEngine.UIElements" substitutionGroup="q114:VisualElement" type="tns:FieldAffordanceElementType" />
  <xs:complexType name="UxmlAttributeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q115="UnityEngine.UIElements" base="q115:VisualElementType">
        <xs:choice />
        <xs:attribute name="binding-path" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeField" xmlns:q116="UnityEngine.UIElements" substitutionGroup="q116:VisualElement" type="tns:UxmlAttributeFieldType" />
  <xs:complexType name="BackgroundSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q117="UnityEngine.UIElements" base="q117:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundSizeStyleField" xmlns:q118="UnityEngine.UIElements" substitutionGroup="q118:BindableElement" type="tns:BackgroundSizeStyleFieldType" />
  <xs:complexType name="SpacingBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpacingBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:SpacingBoxModelFieldType" />
  <xs:complexType name="TextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q119="UnityEngine.UIElements" base="q119:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowField" xmlns:q120="UnityEngine.UIElements" substitutionGroup="q120:BindableElement" type="tns:TextShadowFieldType" />
  <xs:complexType name="VisibilityStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q121="UnityEngine.UIElements" base="q121:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q121:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibilityStyleEnumField" xmlns:q122="UnityEngine.UIElements" substitutionGroup="q122:BindableElement" type="tns:VisibilityStyleEnumFieldType" />
  <xs:complexType name="AlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q123="UnityEngine.UIElements" base="q123:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q123:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="auto" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute name="auto-tooltip" type="xs:string" />
        <xs:attribute name="flex-start-tooltip" type="xs:string" />
        <xs:attribute name="center-tooltip" type="xs:string" />
        <xs:attribute name="flex-end-tooltip" type="xs:string" />
        <xs:attribute name="stretch-tooltip" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlignStyleEnumField" xmlns:q124="UnityEngine.UIElements" substitutionGroup="q124:BindableElement" type="tns:AlignStyleEnumFieldType" />
  <xs:complexType name="PaddingFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaddingFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:PaddingFoldoutFieldType" />
</xs:schema>